.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.dmrc
.dotnet/
.gitconfig
.gtkrc-2.0
.gtkrc-xfce
.java/
.joplin/
.lesshst
.linuxmint/
.local/
.mozilla/
.mysql_history
.node_repl_history
.npm/
.nvm/
.php_history
.pki/
.profile
.pyenv/
.python_history
.ssh/
.sudo_as_admin_successful
.thunderbird/
.var/
.vscode/
.wget-hsts
.wp-cli/
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
JoplinBackup/
Pictures/
apache2
apache2.error.log
hosts
index.html
index.html.1
snowflake-ssh/
work/
.viminfo
.vimrc.swp
